<!DOCTYPE html>
<html ng-app="skyApp">
    <meta charset="UTF-8">
    <head>
        <link rel="stylesheet" href="css/style.css">
        <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.js"></script>
        <script src="js/JsonBroker.js"></script>
        <script src="js/Statement.js"></script>
    </head>
    <body>
        <div ng-controller="statementController" class="container"> 
            <div>
                <div class="heading large">Statement</div>
                <ul>
                    <li>
                        <span>Date generated:</span>
                        <span></span>
                        <span><b>{{statement.generated}}</b></span>
                    </li>
                        <span>Date due:</span>
                        <span></span>
                        <span><b>{{statement.due}}</b></span>
                    </li>
                    <li>
                        <span>Date from:</span>
                        <span></span>
                        <span><b>{{statement.from}}</b></span>
                    </li>
                    <li>
                        <span>Date to:</span>
                        <span></span>
                        <span><b>{{statement.to}}</b></span>
                    </li>
                </ul>
            </div>
            <div>
                <div class="heading">Package</div>
                <div class="heading sub">
                    <span>Type</span>
                    <span>Name</span>
                    <span>Cost</span>
                </div>
                <ul>
                    <li ng-repeat="category in subscriptions">
                        <div class="heading category">{{category.title}}</div>
                        <ul>
                            <li ng-repeat="item in category.items_arr">
                                <span class="caps">{{item.type}}</span>
                                <span>{{item.name}}</span>
                                <span>{{item.cost | currency:"£"}}</span>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul>
                    <li ng-repeat="data in subscriptions">
                        <span class="caps">{{data.type}}</span>
                        <span>{{data.name}}</span>
                        <span>{{data.cost | currency:"£"}}</span>
                    </li>
                </ul>
                <div class="total">
                    <span>Sub total</span>
                    <span></span>
                    <span>{{subscriptionsTotal | currency:"£"}}</span>
                </div>
            <div>
            <div>
                <div class="heading">Call Charges</div>
                <div class="heading sub">
                    <span>Called</span>
                    <span>Duration</span>
                    <span>Cost</span>
                </div>
                <ul>
                    <li ng-repeat="data in callCharges">
                        <span>{{data.called}}</span>
                        <span>{{data.duration}}</span>
                        <span>{{data.cost | currency:"£"}}</span>
                    </li>
                </ul>
                <div class="total">
                    <span>Sub total</span>
                    <span></span>
                    <span>{{callChargesTotal | currency:"£"}}</span>
                </div>
            <div>
            <div class="heading">Sky Store</div>
            <div class="heading sub">
                <span>Title</span>
                <span></span>
                <span>Cost</span>
            </div>
            <ul>
                <li ng-repeat="category in skyStore">
                    <div class="heading category">{{category.title}}</div>
                    <ul>
                        <li ng-repeat="item in category.items_arr">
                            <span>{{item.title}}</span>
                            <span></span>
                            <span>{{item.cost | currency:"£"}}</span>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="total">
                <span>Sub total</span>
                <span></span>
                <span>{{skyStoreTotal | currency:"£"}}</span>
            </div>
            <div class="heading">Total</div>
            <div class="total large">
                <span>Total Due</span>
                <span></span>
                <span>{{statementTotal | currency:"£"}}</span>
            </div>
        </div>
    </body>
</html>


